@using ShareDrive.Infrastructure

<ul class="nav navbar-nav">
    @if (User.IsInRole(GlobalConstants.RoleUser))
    {

        <li><a asp-area="" asp-controller="Drive" asp-action="Index">Drives</a></li>
        <li><a asp-area="" asp-controller="Car" asp-action="Index">Cars</a></li>

    }
    else if (User.IsInRole(GlobalConstants.RoleAdministrator))
    {
        <li><a asp-area="Admin" asp-controller="Drives" asp-action="Index">Drives</a></li>
        <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
        <li><a asp-area="Admin" asp-controller="Cars" asp-action="Index">Cars</a></li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Drive" asp-action="Index">Drives</a></li>
    }
</ul>

