
body a.tab-link[aria-expanded="false"]::before,
body a.tab-link[aria-expanded="true"]::before {
    content: ''
}

div.panel.panel-info.details-panel {
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
}

hr.hr-details {
    margin-top: 0px;
    margin-bottom: 15px;
}

img.img-driver {
    width: 150px;
}

a.btn-details {
    margin: 3px;
}

#btn-cancel {    
    white-space: normal;
}

#notification {
    margin-top: 10px;
}

a.cancel {
    display: none;
}

div#reserved {
    text-align: center;
    background: #e2e2e2;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

body label.label-info {
    background-color: transparent;
}