@using ShareDrive.ViewModels.Drive

@model DriveCreateEditViewModel

<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create Your Drive</h4>
    </div>
    <form id="form" method="post">
        @Html.EditorFor(x => x, "_DriveCreateEditViewModel");

        <div class="modal-footer">
            <a id="submit" class="btn btn-info" asp-controller="Drive" asp-action="Create">Submit</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>


<script>
    $(function () {
        $.validator.unobtrusive.parse("#form");

        $('#submit').click(function (event) {
            event.preventDefault();

            if (!$('#form').valid()) return false;

            _this = this;
            submitForm(_this);
        })

        $('#datepicker').datetimepicker({
            format: "DD/MM/YYYY - HH:mm",
        });

        $('#datepicker').data("DateTimePicker").date(new Date('@Model.DateTime' + 'Z'));
    })

    function submitForm(context) {
        let formData = $('#form').serialize();
        let url = $(context).attr('href');

        $.post(url, formData, function (data) {
            if (data.success === "true") {
                $('#modal-container').modal('toggle');
                showNotification("success", data.message, 'success');
                loadDrives();
            } else if (data.success === "false") {
                $('#modal-container').modal('toggle');
                showNotification("danger", data.message, 'error');
            } else {
                $('#target').empty();
                $('#target').html(data);
            }
        })

        function showNotification(type, message, selector) {
            let noty = `<div style="margin-top: 10px" class="alert alert-` + type + ` alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>` +
                message + `</div>`;
            $('#' + selector).empty();
            $('#' + selector).html(noty);
        }

        function loadDrives() {
            url = 'Drive/IndexPartial';

            $.get(url, function (data) {
                $('#data-container').empty();
                $('#data-container').html(data);
            })
        }
    }
</script>
