@using ShareDrive.ViewModels.Drive

@model DriveEditViewModel

<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Share Your Drive</h4>
    </div>
    <form id="form" method="post">
        @Html.EditorFor(x => x, "_EditViewModel");

        <div class="modal-footer">
            <a id="submit" class="btn btn-info" asp-controller="Drive" asp-action="Edit" asp-route-id="@Model.Id">Submit</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>


<script>
    $(function () {
        $.validator.unobtrusive.parse("#form");

        $('#submit').click(function (event) {
            event.preventDefault();
            _this = this;
            submitForm(_this);
        })

        $('#datepicker').datetimepicker({
            format: "DD/MM/YYYY - HH:mm",
        });

        $('#datepicker').data("DateTimePicker").date(new Date('@Model.DateTime' + 'Z'));
    })

    function submitForm(context) {
        let url = $(context).attr('href');
        $.post(url, function (data) {
            $('#data-container').empty();
            $('#data-container').html(data);
        })
    }
</script>
