@using ShareDrive.ViewModels.Drive

@model EditViewModel

<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Share Your Drive</h4>
    </div>
    <form id="form" asp-controller="Drive" asp-action="Edit" asp-route-id="@Model.Id">
        @Html.EditorFor(x => x, "_EditViewModel");

        <div class="modal-footer">
            <button type="submit" class="btn btn-info">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>


<script>
    $(function () {
        $.validator.unobtrusive.parse("#form");

        $('#datepicker').datetimepicker({
            format: "DD/MM/YYYY - HH:mm",
        });

        $('#datepicker').data("DateTimePicker").date(new Date('@Model.DateTime' + 'Z'));
    })
</script>
