@{
    ViewData["Title"] = "Drive Index";   
}

@if (ViewData["SuccessMessage"] != null) {
    <div class="col-md-12">
        <div style="margin-top: 10px" class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @ViewData["SuccessMessage"]
        </div>
    </div>
}

<div class="col-md-12">
    <a asp-controller="Drive" asp-action="Create" class="btn btn-block btn-info modal-btn" data-target="#modal-container" data-toggle="modal">Add Vehicle</a>
</div>


<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
