@using ShareDrive.ViewModels.CarViewModels

@model CarEditViewModel

<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Car</h4>
    </div>
    <form enctype="multipart/form-data" id="form">
        <div class="modal-body">
            <div>
                <img id="Image" src="@Model.ImageSource" style="width: 300px" />
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label asp-for="Brand" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" asp-for="Brand">
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label asp-for="CarModel" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" asp-for="CarModel">
                        <span asp-validation-for="CarModel" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label asp-for="Year" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" asp-for="Year">
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label asp-for="HasAirConditioner" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input type="checkbox" asp-for="HasAirConditioner">
                        <span asp-validation-for="HasAirConditioner" class="text-danger"></span>
                    </div>
                </div>
            </div>



            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label" asp-for="NewImage">Upload Picture</label>
                    <div class="col-md-8">
                        <input type="file" asp-for="NewImage" onchange="showNewImage(event)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a id="submit" asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id" 
               class="btn btn-info">Submit</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>


<script>
    $(function () {
        $.validator.unobtrusive.parse("#form");

        $('#submit').click(function (event) {
            event.preventDefault();

            if (!$('#form').valid()) return false;

            _this = this;
            submitForm(_this);
        })
    })

    function submitForm(context) {
        var formData = new FormData();

        $('input[name="NewImage"]').each(function (a, b) {
            var fileInput = $('input[name="NewImage"]')[a];
            if (fileInput.files.length > 0) {
                var file = fileInput.files[0];
                formData.append("NewImage", file);
            }
        });

        $("input[type='text'").each(function (x, y) {
            formData.append($(y).attr("name"), $(y).val());
        });

        $("input[type='number'").each(function (x, y) {
            formData.append($(y).attr("name"), $(y).val());
        });

        let url = $(context).attr('href');

        $.ajax({
            type: 'post',
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            success: function (e) {
                success(e);
            },
        });

        function success(data) {
            debugger
            if (data.success === "true") {
                $('#modal-container').modal('toggle');
                showNotification("success", data.message, 'success');
                loadDrives();
            } else if (data.success === "false") {
                $('#modal-container').modal('toggle');
                showNotification("danger", data.message, 'error');
            } else {
                $('#target').empty();
                $('#target').html(data);
            }
        }

        function showNotification(type, message, selector) {
            let noty = `<div style="margin-top: 10px" class="alert alert-` + type + ` alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>` +
                message + `</div>`;
            $('#' + selector).empty();
            $('#' + selector).html(noty);
        }

        function loadDrives() {
            url = 'Car/IndexPartial';

            $.get(url, function (data) {
                debugger
                $('#data-container').empty();
                $('#data-container').html(data);
            })
        }
    }

    function showNewImage(e) {
        var imageFile = e.target.files[0];
        var url = window.URL.createObjectURL(imageFile);
        $('#Image').attr('src', url);
    }
</script>

