

@{
    ViewData["Title"] = "Index";
}
@model List<ShareDrive.ViewModels.CarViewModels.IndexViewModel>

<div class="col-md-12">
    <a asp-action="Create" class="btn btn-block btn-info modal-btn" asp-controller="Car" asp-route-id="1" data-target="#modal-container" data-toggle="modal">Add Vehicle</a>
</div>

<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="col-md-12">

    @foreach (var car in Model)
    {
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <div class="pull-right">
                    <a asp-action="Delete"
                       asp-controller="Car" 
                       asp-route-id="1" 
                       data-target="#modal-container" 
                       data-toggle="modal" 
                       class="panel-link"><i class="fa fa-edit"></i></a>
                    <a href="#" class="panel-link"><i class="fa fa-close"></i></a>
                </div>                
            </div>
            <div class="panel-body">
                <div class="col-md-6 image">
                    <img src="@car.ImageSource" />
                </div>
                <div class="col-md-6">
                    <div class="car-label">
                        <label>Brand: </label><span class="car-text">@car.Brand</span>
                    </div>
                    <div class="car-label">
                        <label>Model: </label><span class="car-text">@car.CarModel</span>
                    </div>
                    <div class="car-label">
                        <label>Year: </label><span class="car-text">@car.Year</span>
                    </div>
                    @*<div class="car-label">
                            <label>Air Condition: </label><span class="car-text">Yes/No</span>
                        </div>
                        <div class="car-label">
                            <label>Number of Seats: </label><span class="car-text">Some number</span>
                        </div>*@
                </div>
            </div>
        </div>

    }

</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")    
}